<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TreinoWeb</title>

        <!-- gera o grafico -->
        <link href="../../css/lib/charts-c3js/c3.min.css" rel="stylesheet" type="text/css">

        <!-- datepicker -->
        <link rel="stylesheet" href="../../css/lib/bootstrap-datepicker/bootstrap-datepicker.min.css">


        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/main.source.css">
        <link rel="stylesheet" href="../../css/custom.css">

        <!-- alerta -->
        <link rel="stylesheet" href="../../css/lib/bootstrap-sweetalert/sweetalert.css"/>

    </head>
    <body class="with-side-menu wet-aspalt-theme">

        <header class="site-header">
            <div class="container-fluid">
                <a href="#" class="site-logo"> <img class="hidden-md-down" src="../../img/logo-tw-w-md.png" alt="">
                    <img class="hidden-lg-up" src="../../img/sign-tw-w-md.png" alt=""> </a>
                <button class="hamburger hamburger--htla">
                    <span>menu</span>
                </button>
                <div class="site-header-content">
                    <div class="site-header-content-in">
                        <div class="site-header-shown">
                            <div class="dropdown dropdown-notification notif">
                                <a href="#" class="header-alarm dropdown-toggle active" id="dd-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="font-icon-alarm"></i> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
                                    <div class="dropdown-menu-notif-header">
                                        Avisos <span class="label label-pill label-danger">4</span>
                                    </div>
                                    <div class="dropdown-menu-notif-list">
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-1.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Morgan</a> was bothering about something
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-2.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Lioneli</a> had commented on this
                                            <a href="#">Super Important Thing</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-3.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Xavier</a> had commented on the <a href="#">Movie title</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-4.jpg" alt="">
                                            </div>
                                            <a href="#">Lionely</a> wants to go to
                                            <a href="#">Cinema</a> with you to see <a href="#">This Movie</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu-notif-more">
                                        <a href="#">Ver todos</a>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown user-menu">
                                <div class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../../img/avatar-2-64.png" alt="">
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                                </div>
                            </div>


                            <button type="button" class="burger-right">
                                <i class="font-icon-menu-addl"></i>
                            </button>
                        </div><!--.site-header-shown-->

                        <div class="mobile-menu-right-overlay"></div>
                        <div class="site-header-collapsed">
                            <div class="site-header-collapsed-in">
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-atletas" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-users"></span> <span class="lbl">Atletas</span> </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-atletas">
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-agenda" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-calendar"></span> <span class="lbl">Agenda</span>
                                        <span class="label label-pill label-danger">5</span> </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-agenda">
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal, Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-atletas" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-bar-chart"></span> <span class="lbl">Administrativo</span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-atletas">
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
                                    </div>
                                </div>
                            </div><!--.site-header-collapsed-in-->
                        </div><!--.site-header-collapsed-->
                    </div><!--site-header-content-in-->
                </div><!--.site-header-content-->
            </div><!--.container-fluid-->
        </header><!--.site-header-->

        <div class="mobile-menu-left-overlay"></div>

        <nav class="side-menu">
            <div class="avatar-admin">
                <img class="img-adaptative" src="../../img/logo-runway.jpg">
            </div>
            <header class="side-menu-title mt-md">
                Opções
            </header>

            <ul class="side-menu-list">

                <li class="grey">
                    <a href="#"> <span class="lbl">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Visão geral</span> </a>
                </li>
                <li class="grey opened">
                    <a href="#"> <span class="lbl">
                        <i class="fa demo-icon icon-pitch" aria-hidden="true"></i> Atletas</span> </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="font-icon font-icon-notebook" aria-hidden="true"></i> Treinadores</span>
                    </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Agenda</span> </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-money" aria-hidden="true"></i> Financeiro</span> </a>
                </li>
            </ul>
            <header class="side-menu-title mt-md">
                Conta
            </header>
            <ul class="side-menu-list">
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="font-icon font-icon-edit" aria-hidden="true"></i> Dados da conta</span>
                    </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-user-plus" aria-hidden="true"></i> Compartilhamento da conta</span>
                    </a>
                </li>
            </ul>

        </nav><!--.side-menu-->

        <div class="page-content">
            <div class="container-fluid">
                <header>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Dados da conta</h1>
                        </div>
                    </div>
                </header>
                <div class="row mt-md">
                    <div class="col-md-12">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="semibold">
                                            <i class="fa fa-user mr-xs" aria-hidden="true"></i> Responsável </h5>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <p>
                                            <a href="#ModalEditarResponsavel" data-toggle="modal" data-dismiss="modal">Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label class="form-label semibold">Nome</label>
                                        <p>Nome completo do Responsável</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">e-mail</label>
                                        <p>e-mail@email.com</p>
                                    </div>
                                </div>
                                <div class="row divider-top">
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">Telefone</label>
                                        <p>(00) 0000-0000</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">Senha</label>
                                        <p><a href="#" data-toggle="modal" data-dismiss="modal">Trocar senha</a></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row mt-md">
                    <div class="col-md-12">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="semibold">
                                            <i class="fa fa-building-o mr-xs" aria-hidden="true"></i> Endereço </h5>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <p>
                                            <a href="#ModalEditarEndereco" data-toggle="modal" data-dismiss="modal">Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Endereço</label>
                                        <p>Endereço</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Nome da assessoria</label>
                                        <p>Nome</p>
                                    </div>
                                </div>
                                <div class="row divider-top">
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Local de treino</label>
                                        <p>Local de treino</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">CNPJ</label>
                                        <p><a href="#" data-toggle="modal" data-dismiss="modal">000000000000</a></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row mt-md">
                    <div class="col-md-12">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="semibold">
                                            <i class="fa fa-pencil-square-o mr-xs" aria-hidden="true"></i> Assessoria
                                        </h5>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <p>
                                            <a href="#ModalEditarAssessoria" data-toggle="modal" data-dismiss="modal">Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Endereço</label>
                                        <p>Endereço</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Nome da assessoria</label>
                                        <p>Nome</p>
                                    </div>
                                </div>
                                <div class="row divider-top">
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Local de treino</label>
                                        <p>Local de treino</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">CNPJ</label>
                                        <p><a href="#" data-toggle="modal" data-dismiss="modal">000000000000</a></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row mt-md">
                    <div class="col-md-12">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="semibold">
                                            <i class="fa fa-money mr-xs" aria-hidden="true"></i> Conta para recebimento de valores
                                        </h5>
                                        <p class="text-green">Atualmente somente tranferências para os bancos XYX são gratuitas</p>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <p>
                                            <a href="#ModalEditarConta" data-toggle="modal" data-dismiss="modal">Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">Banco</label>
                                        <p>Banco</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">Agencia</label>
                                        <p>Agencia</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label semibold">Conta</label>
                                        <p>Conta</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row mt-md">
                    <div class="col-md-12">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="semibold">
                                            <i class="fa fa-university" aria-hidden="true"></i> Dados de cobrança </h5>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <p>
                                            <a href="#ModalEditarCobranca" data-toggle="modal" data-dismiss="modal">Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Tipo</label>
                                        <p>Boleto</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label semibold">Período</label>
                                        <p>Mensal</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <div class="row mt-md">
                    <div class="col-sm-12">
                        <section class="box-typical">
                            <header class="box-typical-header header-bordered">
                                <div class="tbl-row">
                                    <div class="tbl-cell tbl-cell-title">
                                        <h5 class="semibold">
                                            <i class="fa fa-calendar-times-o mr-xs" aria-hidden="true"></i> Cobranças
                                        </h5>
                                    </div>
                                </div>
                            </header>
                            <div class="p-0">
                                <div class="table-responsive">
                                    <table class="table-hover table-box-typical text-center tbl-typical">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">
                                                    <p class="semibold">Boleto Setembro</p>
                                                </td>
                                                <td>
                                                    <div class="btn-group btn-group-sm pull-right">
                                                        <button type="button" class="btn btn-default-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ações
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#" role="button">Gerar cobrança</a>
                                                            <a class="dropdown-item" href="#" role="button">Gerar comprovante</a>
                                                            <a class="dropdown-item" href="#" role="button">Confirmar pagamento</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
        </div><!--.page-content-->






        <!-- Modal edita -->
        <div class="modal fade" id="ModalEditarResponsavel" tabindex="-1" role="dialog" aria-labelledby="ModalEditarResponsavel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Editar responsavel</h4>
                    </div>
                    <div class="modal-body">
                        <section class="card card-default">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5 class="semibold">
                                            <i class="fa fa-file-text-o mr-xs" aria-hidden="true"></i> Dados </h5>
                                    </div>
                                </div>
                            </header>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">Endereço<span class="semibold text-danger h4">*</span></label>
                                            <input type="text" class="form-control" id="" name="nomeservico" placeholder="Nome">
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">Bairro</label>
                                            <input type="text" class="form-control" id="" name="nomeservico" placeholder="Nome">
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row mt-md">
                                    <div class="col-sm-3">
                                        <label class="form-label semibold">Número</label>
                                        <input type="text" class="form-control" id="" name="nomeservico" placeholder="Número">
                                    </div>
                                    <div class="col-sm-3">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">CEP</label>
                                            <input type="text" class="form-control" placeholder="CEP">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal">Salvar</button>
                    </div>
                </div>
            </div>
        </div>







        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>

        <!-- gera o grafico -->
        <script type="text/javascript" src="../../js/lib/highcharts/highcharts.js"></script>

        <script src="../../js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="../../js/lib/bootstrap-datepicker/bootstrap-datepicker.pt-BR.min.js"></script>

        <script src="../../js/lib/select2/select2.full.min.js"></script>
        <script src="../../js/lib/select2/i18n/pt-BR.js"></script>
        <script src="../../js/lib/bootstrap-select/bootstrap-select.min.js"></script>

        <script src="../../js/lib/jquery-simply-countable/jquery.simplyCountable.js"></script>

        <script src="../../js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>

        <script src="../../js/app.js"></script>
        <script src="admin-dadosconta.js"></script>
        <script src="../../js/interface.js"></script>

    </body>
</html>