<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TreinoWeb</title>

        <!-- gera o grafico -->
        <link href="../../css/lib/charts-c3js/c3.min.css" rel="stylesheet" type="text/css">

        <!-- datepicker -->
        <link rel="stylesheet" href="../../css/lib/bootstrap-datepicker/bootstrap-datepicker.min.css">


        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/main.source.css">
        <link rel="stylesheet" href="../../css/custom.css">

        <!-- alerta -->
        <link rel="stylesheet" href="../../css/lib/bootstrap-sweetalert/sweetalert.css"/>

    </head>
    <body class="wet-aspalt-theme">

        <header class="site-header">
            <div class="container-fluid">
                <a href="#" class="site-logo"> <img class="hidden-md-down" src="../../img/logo-tw-w-md.png" alt="">
                    <img class="hidden-lg-up" src="../../img/sign-tw-w-md.png" alt=""> </a>
            </div><!--.container-fluid-->
        </header><!--.site-header-->


        <div class="page-content">
            <div class="container">
                <header>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Dados da conta</h1>
                        </div>
                    </div>
                </header>

                <div class="row">
                    <div class="col-md-12">
                        <section class="widget widget-user">
                            <div class="widget-user-bg" style="background-image: url('../../img/fotos/vadebike-vivavida.jpg')"></div>
                            <div class="widget-user-photo">
                                <img src="../../img/logo-runway.jpeg" alt="">
                            </div>
                            <div class="widget-user-name">
                                Academia Runway <i class="font-icon font-icon-award"></i>
                            </div>
                            <div>Assessoria desde 2016</div>
                            <div class="widget-user-stat">
                                <div class="item">
                                    <div class="number">75</div>
                                    <div class="caption">Atletas</div>
                                </div>
                                <div class="item">
                                    <div class="number">22</div>
                                    <div class="caption">Treinadores</div>
                                </div>
                                <div class="item">
                                    <div class="number">3</div>
                                    <div class="caption">Assesorias</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <section class="box-typical steps-numeric-block">
                            <div class="steps-numeric-header">
                                <div class="steps-numeric-header-in">
                                    <ul>
                                        <li class="active">
                                            <div class="item"><span class="num">1</span>Dados pessoais</div>
                                        </li>
                                        <li>
                                            <div class="item"><span class="num">2</span>Dados de pagamento</div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="steps-numeric-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">E-mail</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">Confirme o e-mail</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">Nome completo</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset class="form-group">
                                            <label class="form-label semibold">CPF</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="divider-top">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="semibold">Localização</h5>
                                        </div>
                                    </div>
                                    <div class="row mt-md">
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Endereço</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Bairro</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">Número</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset class="form-group">
                                                <label class="form-label semibold">CEP</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>


                                <div class="divider-top text-right">
                                    <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal">Salvar</button>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <section class="box-typical steps-numeric-block">
                            <div class="steps-numeric-header">
                                <div class="steps-numeric-header-in">
                                    <ul>
                                        <li>
                                            <div class="item"><span class="num">1</span>Dados pessoais</div>
                                        </li>
                                        <li class="active">
                                            <div class="item"><span class="num">2</span>Dados de pagamento</div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="steps-numeric-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="semibold">Dados de pagamento</h3>
                                    </div>
                                </div>
                                <div class="row mt-md">
                                    <div class="col-md-4">
                                        <section class="card card-default text-center">
                                            <header class="card-header">
                                                Plano A
                                            </header>
                                            <div class="card-block">
                                                <p class="card-text">Lorem ipsum dolor sit amet, Aenean euismod bibendum Proin gravida dolor sit amet lacus</p>
                                            </div>
                                            <footer class="card-footer">
                                                <div class="checkbox-detailed">
                                                    <input type="radio" name="plano" id="check-det-1" data-toggle="modal" data-target="#ModalContrata"/>
                                                    <label for="check-det-1">
                                                        <span class="checkbox-detailed-tbl">
                                                            <span class="checkbox-detailed-cell">
                                                                <span class="checkbox-detailed-title">Contratar</span>
                                                                <strong class="h4">R$ 000,00</strong>
                                                            </span>
                                                        </span> </label>
                                                </div>
                                            </footer>
                                        </section>
                                    </div>
                                    <div class="col-md-4">
                                        <section class="card card-default text-center">
                                            <header class="card-header">
                                                Plano B
                                            </header>
                                            <div class="card-block">
                                                <p class="card-text">Lorem ipsum dolor sit amet, Aenean euismod bibendum Proin gravida dolor sit amet lacus</p>
                                            </div>
                                            <footer class="card-footer">
                                                <div class="checkbox-detailed">
                                                    <input type="radio" name="plano" id="check-det-2"/>
                                                    <label for="check-det-2">
                                                        <span class="checkbox-detailed-tbl">
                                                            <span class="checkbox-detailed-cell">
                                                                <span class="checkbox-detailed-title">Contratar</span>
                                                                <strong class="h4">R$ 000,00</strong>
                                                            </span>
                                                        </span> </label>
                                                </div>
                                            </footer>
                                        </section>
                                    </div>
                                    <div class="col-md-4">
                                        <section class="card card-default text-center">
                                            <header class="card-header">
                                                Plano C
                                            </header>
                                            <div class="card-block">
                                                <p class="card-text">Lorem ipsum dolor sit amet, Aenean euismod bibendum Proin gravida dolor sit amet lacus</p>
                                            </div>
                                            <footer class="card-footer">
                                                <div class="checkbox-detailed">
                                                    <input type="radio" name="plano" id="check-det-3"/>
                                                    <label for="check-det-3">
                                                        <span class="checkbox-detailed-tbl">
                                                            <span class="checkbox-detailed-cell">
                                                                <span class="checkbox-detailed-title">Contratar</span>
                                                                <strong class="h4">R$ 000,00</strong>
                                                            </span>
                                                        </span> </label>
                                                </div>
                                            </footer>
                                        </section>
                                    </div>
                                </div>


                                <div class="row divider-top mt-md">
                                    <div class="col-md-12">
                                        <h5 class="semibold">Questões frequentes</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mt-md">
                                            <div class="col-md-12">
                                                <p class="semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet?</p>
                                                <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                            </div>
                                        </div>
                                        <div class="row mt-md">
                                            <div class="col-md-12">
                                                <p class="semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet?</p>
                                                <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mt-md">
                                            <div class="col-md-12">
                                                <p class="semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet?</p>
                                                <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                            </div>
                                        </div>
                                        <div class="row mt-md">
                                            <div class="col-md-12">
                                                <p class="semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet?</p>
                                                <p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="divider-top text-right">

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="check-termos-servico">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Lorem ipsum dolor <a href="#" data-toggle="modal" data-target="#ModalEULA">Termos de serviço</a></span>
                                    </label>
                                    <button type="button" class="btn btn-success btn-rounded mt-md" data-dismiss="modal" disabled="disabled" id="btn-termos-servico">Salvar</button>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>

            </div>
        </div><!--.page-content-->


        <div class="modal fade" id="ModalContrata" role="dialog" aria-labelledby="ModalContrata">

            <div class="modal-dialog modal-lg" role="document">

                <section class="widget widget-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <article class="panel">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3 class="semibold">Cartão de crédito <i class="font-icon font-icon-arrow-down"></i>
                                </h3></a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-collapse-in">
                                Aqui vai o conteúdo das cobranças
                            </div>
                        </div>
                    </article>
                    <article class="panel">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3 class="semibold">Cartão de débito <i class="font-icon font-icon-arrow-down"></i>
                                </h3></a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-collapse-in">
                                Conteúdo do débito
                            </div>
                        </div>
                    </article>
                    <article class="panel">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3 class="semibold">Boleto bancário <i class="font-icon font-icon-arrow-down"></i></h3>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-collapse-in">
                                Dados do boleto
                            </div>
                        </div>
                    </article>
                </section><!--.widget-accordion-->
                <div class="text-right">
                    <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-rounded" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalEULA" role="dialog" aria-labelledby="ModalInativar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Termos de serviço</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Consectetur adipiscing elit. Nulla vitae rutrum tellus. Maecenas sit amet ultrices mi. Quisque accumsan quis metus et euismod. Fusce id diam et nibh finibus vestibulum nec vel nunc. </p>
                            <p>Maecenas vehicula sem sem, ac iaculis ante consectetur et. Integer varius nisi a rutrum viverra. Etiam convallis luctus iaculis. Donec tincidunt nisi et massa maximus, ut euismod eros varius.</p>
                            <p>Aenean rutrum in erat vitae euismod.</p>

                            <p>Donec tempus mauris augue, eu tempor ligula eleifend non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            <p>Aliquam ultrices fringilla dolor, vel tempor sapien commodo sodales. Nam interdum metus sit amet lorem gravida ultrices. Sed eleifend diam et enim rhoncus, non pharetra lacus molestie. </p>
                            <p>Integer iaculis nulla sed tempus maximus. Pellentesque vehicula orci non elit mattis, vitae auctor lacus porttitor. Proin mollis semper ligula sed rutrum. Mauris congue ipsum quis nisl vulputate accumsan. Praesent sagittis enim sit amet ligula convallis, sed imperdiet turpis faucibus. Fusce suscipit sodales eros et tempus. Donec consectetur massa odio, ac fringilla felis sagittis id. Suspendisse justo lectus, dignissim vel mattis eget, ornare at purus. Ut molestie id nisl ut faucibus. Fusce quis lobortis elit.</p>

                            <p>Suspendisse sagittis lectus nec purus posuere, non interdum sem mollis. Sed tristique diam nulla, in faucibus arcu laoreet eget. Ut scelerisque non magna nec aliquam. </p>
                            <p>Maecenas vehicula tellus quis convallis sagittis. Pellentesque vitae odio tempus, vestibulum neque vel, aliquet tellus. Phasellus quis leo quis odio consequat feugiat id non lacus. </p>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu imperdiet ex. Proin euismod bibendum tellus, nec fermentum tellus tempor non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus accumsan tortor a lectus dignissim efficitur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--.modal ModalInativar-->


        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>


        <script src="../../js/app.js"></script>
        <script src="admin-finalizarcadastro.js"></script>
        <!--<script src="../../js/interface.js"></script>-->

    </body>
</html>