<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TreinoWeb</title>
        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/main.source.css">
        <link rel="stylesheet" href="../../css/custom.css">

        <!-- especifico desta página -->
        <link href="../../css/lib/datatables-net/datatables.min.css" rel="stylesheet" type="text/css">

    </head>
    <body class="with-side-menu wet-aspalt-theme">

        <header class="site-header">
            <div class="container-fluid">
                <a href="#" class="site-logo"> <img class="hidden-md-down" src="../../img/logo-tw-w-md.png" alt="">
                    <img class="hidden-lg-up" src="../../img/sign-tw-w-md.png" alt=""> </a>
                <button class="hamburger hamburger--htla">
                    <span>menu</span>
                </button>
                <div class="site-header-content">
                    <div class="site-header-content-in">
                        <div class="site-header-shown">
                            <div class="dropdown dropdown-notification notif">
                                <a href="#" class="header-alarm dropdown-toggle active" id="dd-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="font-icon-alarm"></i> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
                                    <div class="dropdown-menu-notif-header">
                                        Avisos <span class="label label-pill label-danger">4</span>
                                    </div>
                                    <div class="dropdown-menu-notif-list">
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-1.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Morgan</a> was bothering about something
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-2.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Lioneli</a> had commented on this
                                            <a href="#">Super Important Thing</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-3.jpg" alt="">
                                            </div>
                                            <div class="dot"></div>
                                            <a href="#">Xavier</a> had commented on the <a href="#">Movie title</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                        <div class="dropdown-menu-notif-item">
                                            <div class="photo">
                                                <img src="../../img/photo-64-4.jpg" alt="">
                                            </div>
                                            <a href="#">Lionely</a> wants to go to
                                            <a href="#">Cinema</a> with you to see <a href="#">This Movie</a>
                                            <div class="color-blue-grey-lighter">7 hours ago</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu-notif-more">
                                        <a href="#">Ver todos</a>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown user-menu">
                                <div class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../../img/avatar-2-64.png" alt="">
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                                </div>
                            </div>


                            <button type="button" class="burger-right">
                                <i class="font-icon-menu-addl"></i>
                            </button>
                        </div><!--.site-header-shown-->

                        <div class="mobile-menu-right-overlay"></div>
                        <div class="site-header-collapsed">
                            <div class="site-header-collapsed-in">
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-atletas" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-users"></span> <span class="lbl">Atletas</span> </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-atletas">
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-agenda" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-calendar"></span> <span class="lbl">Agenda</span>
                                        <span class="label label-pill label-danger">5</span> </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-agenda">
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal, Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                        <div class="context-menu-separator"></div>
                                        <a class="dropdown-item" href="#">
                                            <small>00/00/0000, 10h00</small>
                                            <br>Quant and Verbal</a>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-typical">
                                    <a class="dropdown-toggle" id="dd-header-atletas" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-bar-chart"></span> <span class="lbl">Administrativo</span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dd-header-atletas">
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-home"></span>Quant and Verbal</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-speed"></span>Prep Official App</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-users"></span>CATprer Test</a>
                                        <a class="dropdown-item" href="#"><span class="font-icon font-icon-comments"></span>Third Party Test</a>
                                    </div>
                                </div>
                            </div><!--.site-header-collapsed-in-->
                        </div><!--.site-header-collapsed-->
                    </div><!--site-header-content-in-->
                </div><!--.site-header-content-->
            </div><!--.container-fluid-->
        </header><!--.site-header-->

        <div class="mobile-menu-left-overlay"></div>

        <nav class="side-menu">
            <div class="avatar-admin">
                <img class="img-adaptative" src="../../img/logo-runway.jpg">
            </div>
            <header class="side-menu-title mt-md">
                Opções
            </header>

            <ul class="side-menu-list">

                <li class="grey">
                    <a href="#"> <span class="lbl">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Visão geral</span> </a>
                </li>
                <li class="grey opened">
                    <a href="#"> <span class="lbl">
                        <i class="fa demo-icon icon-pitch" aria-hidden="true"></i> Atletas</span> </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="font-icon font-icon-notebook" aria-hidden="true"></i> Treinadores</span>
                    </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Agenda</span> </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-money" aria-hidden="true"></i> Financeiro</span> </a>
                </li>
            </ul>
            <header class="side-menu-title mt-md">
                Conta
            </header>
            <ul class="side-menu-list">
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="font-icon font-icon-edit" aria-hidden="true"></i> Dados da conta</span>
                    </a>
                </li>
                <li class="grey">
                    <a href="#"> <span class="lbl"><i class="fa fa-user-plus" aria-hidden="true"></i> Compartilhamento da conta</span>
                    </a>
                </li>
            </ul>

        </nav><!--.side-menu-->

        <div class="page-content">
            <div class="container-fluid">
                <header>
                    <div class="row">
                        <div class="col-sm-4">
                            <h1>Atletas</h1>
                        </div>
                        <div class="col-sm-8 text-right">
                            <p>
                                <a href="#" data-toggle="modal" data-target="#ModalEnviarConvite" class="btn btn-rounded btn-inline btn-primary-outline"><i class="fa fa-plus" aria-hidden="true"></i> Convidar atleta</a>
                            </p>
                        </div>
                    </div>
                </header>
                <section class="card">
                    <header class="card-header">
                        <section>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-control-wrapper form-control-icon-right">
                                        <input type="text" class="form-control input-table-custom" placeholder="Filtre nos resultados">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p class="mt-sm">
                                        <a class="semibold" data-toggle="collapse" data-parent="#accordion" href="#collapse-busca-one" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i> Busca avançada</a>
                                    </p>
                                </div>
                            </div>
                            <div id="collapse-busca-one" class="collapse mt-md" role="tabpanel" aria-labelledby="collapse-busca-one" aria-expanded="true">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <fieldset class="form-group">
                                            <select class="select2 select2-arrow" id="pagamentos" name="pagamentos">
                                                <option value="0" selected>Pagamentos</option>
                                                <option value="1">Pagamentos em dia</option>
                                                <option value="2">Ativos</option>
                                                <option value="3">Inativos</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-3">
                                        <fieldset class="form-group">
                                            <select class="select2 select2-arrow" id="treinador" name="treinador">
                                                <option value="0" selected>Por Treinador</option>
                                                <option value="1">Nome do treinador</option>
                                                <option value="2">Nome do treinador</option>
                                                <option value="3">Nome do treinador</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-3">
                                        <fieldset class="form-group">
                                            <select class="select2 select2-arrow" id="tipo-cobranca" name="tipo-cobranca">
                                                <option value="0" selected>Tipo de cobrança</option>
                                                <option value="1">Boleto</option>
                                                <option value="2">Cartão</option>
                                                <option value="3">Todos</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-3">
                                        <fieldset class="form-group">
                                            <select class="select2 select2-arrow" id="periodo" name="periodo">
                                                <option value="0" selected>Período</option>
                                                <option value="1">Mensal</option>
                                                <option value="2">Semanal</option>
                                                <option value="3">Diário</option>
                                                <option value="3">Hora</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </header>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <section>
                                    <div class="table-responsive table-custom">
                                        <table class="data-table table table-hover fontsize-md">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Nome</th>
                                                    <th>Plano/Pagamento</th>
                                                    <th>Treinador</th>
                                                    <th>Risco</th>
                                                    <th class="text-right">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="table-check">
                                                        <div class="checkbox checkbox-only mr-sm">
                                                            <input type="checkbox" id="table-check-1">
                                                            <label for="table-check-1"></label>
                                                        </div>
                                                    </td>
                                                    <td class="table-photo">
                                                        <img src="../../img/photo-64-1.jpg" alt="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="João<br/>Silva">
                                                    </td>
                                                    <td>
                                                        <a href="#ModalDetalhaAtleta" data-toggle="modal" data-dismiss="modal"><strong>João da Silva Xavier</strong></a>
                                                    </td>
                                                    <td>
                                                        Ativo / Pagamento ok<br> Plano A
                                                    </td>
                                                    <td>
                                                        Nome do treinador <br> <a href="#">Treinos</a>
                                                    </td>
                                                    <td>
                                                        <span class="text-red">Risco de evasão</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group btn-group-sm pull-right">
                                                            <button type="button" class="btn btn-default-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ações
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#" role="button"><i class="fa fa-money mr-xs" aria-hidden="true"></i> Gerar cobrança</a>
                                                                <a class="dropdown-item" href="#" role="button"><i class="fa fa-check mr-xs" aria-hidden="true"></i> Confirmar pagamento</a>
                                                                <a class="dropdown-item" href="#" role="button"><i class="fa fa-retweet mr-xs" aria-hidden="true"></i> Trocar plano</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#ModalInativar" role="button"><i class="fa fa-ban mr-xs" aria-hidden="true"></i> Inativar</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div><!--.page-content-->


        <div class="modal fade" id="ModalEnviarConvite" tabindex="-1" role="dialog" aria-labelledby="ModalEnviarConvite" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-center-v">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Envie o convite</h4>
                        <p>Informe o e-mail para quem você quer convidar</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="E-mail(s)"></textarea>
                            <small>Para enviar para mais de um atleta, use ";" para separar os e-mails</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-rounded btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div><!--.modal ModalEnviarConvite-->

        <div class="modal fade" id="ModalInativar" tabindex="-1" role="dialog" aria-labelledby="ModalInativar" aria-hidden="true">
            <div class="modal-dialog modal-center-v">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Inativar usuário</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-md-6">
                                <section class="card">
                                    <header class="card-header card-header-lg">
                                        <h4>Atleta</h4>
                                    </header>
                                    <div class="card-block">
                                        <div class="user-card-row">
                                            <div class="tbl-row">
                                                <div class="tbl-cell tbl-cell-photo tbl-cell-photo-64">
                                                    <a href="#"> <img src="../../img/photo-64-1.jpg" alt=""> </a>
                                                </div>
                                                <div class="tbl-cell">
                                                    <p class="user-card-row-name font-16">
                                                        <a href="#">Gerald Davidson</a></p>
                                                    <p class="user-card-row-mail font-14">
                                                        <a href="#">Treinador: José da Silva</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="card">
                                    <header class="card-header card-header-lg">
                                        <h4>Plano <strong>A</strong></h4>
                                    </header>
                                    <div class="card-block">
                                        <p class="card-text">Este usuário esta assossiado a este plano.</p>
                                        <p class="divider-top"><strong>Situação:</strong> Ativo</p>
                                        <p><strong>Pagamento:</strong> Sem pendências</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-rounded btn-danger">Confirmar</button>
                    </div>
                </div>
            </div>
        </div><!--.modal ModalInativar-->





        <div class="modal fade" id="ModalDetalhaAtleta" tabindex="-1" role="dialog" aria-labelledby="ModalDetalhaAtleta" aria-hidden="true">
            <div class="modal-dialog modal-center-v">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Inativar usuário</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-md-6">
                                <section class="card">
                                    <header class="card-header card-header-lg">
                                        <h4>Atleta</h4>
                                    </header>
                                    <div class="card-block">
                                        <div class="user-card-row">
                                            <div class="tbl-row">
                                                <div class="tbl-cell tbl-cell-photo tbl-cell-photo-64">
                                                    <a href="#"> <img src="../../img/photo-64-1.jpg" alt=""> </a>
                                                </div>
                                                <div class="tbl-cell">
                                                    <p class="user-card-row-name font-16">
                                                        <a href="#">Gerald Davidson</a></p>
                                                    <p class="user-card-row-mail font-14">
                                                        <a href="#">Treinador: José da Silva</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="card">
                                    <header class="card-header card-header-lg">
                                        <h4>Plano <strong>A</strong></h4>
                                    </header>
                                    <div class="card-block">
                                        <p class="card-text">Este usuário esta assossiado a este plano.</p>
                                        <p class="divider-top"><strong>Situação:</strong> Ativo</p>
                                        <p><strong>Pagamento:</strong> Sem pendências</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-rounded btn-danger">Confirmar</button>
                    </div>
                </div>
            </div>
        </div><!--.modal ModalInativar-->





        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>
        <script src="../../js/app.js"></script>

        <!-- específico desta página -->
        <script src="../../js/lib/datatables-net/datatables.min.js"></script>
        <script src="../../js/start-datatables.js"></script>

        <script src="../../js/lib/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="../../js/lib/select2/select2.full.min.js"></script>
        <script src="../../js/lib/select2/i18n/pt-BR.js"></script>

        <script src="admin-atletas.js"></script>

    </body>
</html>