<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TreinoWeb</title>
        <link rel="stylesheet" href="../../css/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/main.source.css">
        <link rel="stylesheet" href="../../css/custom.css">

        <!-- especifico desta página -->
        <link href="../../css/lib/charts-c3js/c3.min.css" rel="stylesheet" type="text/css">

    </head>
    <body class="with-side-menu wet-aspalt-theme">

        <div class="page-center">
            <div class="page-center-in">
                <div class="container-fluid">
                    <form class="sign-box">
                        <div class="text-center">
                            <img class="img-adaptative" src="../../img/logo-tw-c-md.png" alt="">
                        </div>
                        <p class="mt-sm text-center">Acesse seu Treino Web</p>
                        <div class="divider-top">
                            <div class="form-group">
                                <label class="form-label semibold">Seu e-mail:</label>
                                <input type="text" class="form-control" placeholder="E-mail or Nome de usuário"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label semibold">Sua senha:</label>
                                <input type="password" class="form-control" placeholder="Senha"/>
                            </div>
                            <div class="form-group">
                                <div class="checkbox float-left">
                                    <input type="checkbox" id="signed-in"/> <label for="signed-in">Manter logado</label>
                                </div>
                                <div class="float-right reset">
                                    <a href="#" data-toggle="modal" data-target="#ModalLembrarSenha">Esqueci a senha</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rounded">Entrar</button>
                        </div>
                        <div class="divider-top">
                            <p>utilize suas redes sociais:</p>
                            <p><a href="#" class="btn btn-danger contact">
                                <i class="font-icon font-icon-google-plus mr-sm"></i> Google </a></p>
                            <p><a href="#" class="btn btn-primary contact">
                                <i class="font-icon font-icon-facebook mr-sm"></i> Facebook </a></p>
                        </div>
                        <div class="divider-top">
                            <p class="sign-note">Não possui conta?
                                <a href="#" data-toggle="modal" data-target="#ModalCadastro">Cadastre-se</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--.page-center-->


        <div class="modal fade" id="ModalLembrarSenha" tabindex="-1" role="dialog" aria-labelledby="ModalLembrarSenha" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-center-v">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Esqueceu a senha?</h4>
                        <p>Informe o e-mail para que você possa resetar sua senha:</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label semibold">Seu e-mail:</label>
                            <input type="text" class="form-control" placeholder="E-mail ou Nome de usuário"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-rounded btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div><!--.modal -->


        <div class="modal fade" id="ModalCadastro" tabindex="-1" role="dialog" aria-labelledby="ModalCadastro" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title">Cadastre-se e aproveite!</h4>
                        <p>Utilize o treinoweb por 1 mês Grátis!</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label semibold">Seu nome completo:</label>
                            <input type="text" class="form-control" placeholder="Seu nome"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label semibold">Seu e-mail:</label>
                            <input type="text" class="form-control" placeholder="Seu e-mail"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label semibold">Senha:</label>
                            <input type="password" class="form-control" placeholder="Senha"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-primary">Cadastrar!</button>
                    </div>
                </div>
            </div>
        </div><!--.modal -->


        <script src="../../js/lib/jquery/jquery.min.js"></script>
        <script src="../../js/lib/tether/tether.min.js"></script>
        <script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/plugins.js"></script>
        <script src="../../js/app.js"></script>

        <script src="login-index.js"></script>

    </body>
</html>