.dropdown.dropdown-typical {
  .dropdown-menu {
    min-width: 190px;

  }
}

.dropdown-menu {
  .dropdown-item {
    white-space: normal;
    border: none;
  }
}

.btn-group, .btn-group-vertical {
  .btn {
    &.btn-secondary-outline {
      border-color: #d4dee6;
      background-color: #efefef;
      color: #6b7a85;
      &:hover {
        color: #91a1ad !important;
      }
    }
    &.active {
      background-color: #5cb85c;
      border-color: #5cb85c;
      color: #fff;
      &:hover {
        color: #fff !important;
      }
    }
  }
}